.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 40px;
    margin: 40px 40px 40px 40px;
}

.wrapper-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 40px;
    margin: 40px 40px 40px 40px;
}