<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ audioCard.title }}</mat-card-title>
    <mat-card-subtitle>{{ audioCard.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content class="margin-top">
    <audio controls class="audio-widget">
      <source [src]="audioFileUrl" type="audio/wav">
    Your browser does not support the audio element.
    </audio>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
